@use "sass:math";

.bar {
  $bar-height: 32pt;
  $half-bar-height: math.div($bar-height, 2);

  min-height: $bar-height;
  font-family: "JetBrainsMono NF";
  padding: 0;
  label {
    text-shadow: none;
  }

  .panel {
    border-radius: $half-bar-height;
    padding: 0 math.div($bar-height, 4);
  }

  .workspaces {
    min-width: 0;
    button {
      background-color: transparent;
      background-image: none;
      border: none;
      margin: 0;
      font-size: 0;
      padding: 0;
      min-width: 0;
      min-height: 0;
      border-radius: 0;

      @mixin workspace-label($image-ratio, $border-ratio: 0.25) {
        min-width: $bar-height * $image-ratio;
        min-height: $bar-height * $image-ratio;

        $remaining: $half-bar-height * (1 - $image-ratio);

        margin: $remaining * (1 - $border-ratio) 1.25pt;
        border-width: $remaining * $border-ratio;

        font-size: $half-bar-height * $image-ratio;
      }

      label {
        margin: 1.25pt;
        @include workspace-label(0.5);
        /* background-color: gray; */
        background-color: transparent;

        border-color: transparent;
        border-style: solid;

        border-radius: 50%;
        transition: all 0.25s ease-in-out;
      }
      &.hasWindows {
        label {
          background-color: lightgray;
          color: black;
        }
      }
      &.active {
        label {
          /* @include workspace-label(0.75); */
          background-color: white;
          color: black;
        }
      }
      &:hover {
        label {
          border-color: deepskyblue;
          @include workspace-label(0.5, 0.25);
          border-radius: 25%;
        }
      }
    }
  }

  .windowTitle {
    image {
      font-size: math.div($bar-height, 3) * 2;
      margin-right: 5pt;
    }
  }

  .systemTray {
    background-color: transparent;
    button {
      border-width: 0;

      background-image: none;
      background-color: transparent;

      image {
        background-color: transparent;
      }
    }
  }
}
