/* Unset all rules so I know all css is defined here */
* {
  /* all: unset; */
  /* Set some useful defaults */
  font-family: "JetbrainsMono NF";
}

.background {
  $strength: 40;
  background-color: rgb($strength, $strength, $strength);
}
